body {
   background-color:#E5E5E5;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
}

.main-container{
   display: flex;
   flex-direction: row-reverse;
   width: 1200px;
   left: 40px;
   top: 40px;
   background: #FFFFFF;
   margin: 40px auto;
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */

.main-content-section{
   padding: 100px 90px;
}

.main-title-name{
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   color: #000;
   margin-bottom: 10px;
}
.main-title-name-projects{
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   color: #000;
   margin-bottom: 10px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.about-me-section{
   margin-bottom: 40px;
}

   .about-me-profession{
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 17px;
   color: #000;
   margin-bottom: 20px;
}

   .about-me-name{
   font-style: normal;
   font-weight: bold;
   font-size: 45px;
   line-height: 55px;
   margin-bottom: 25px;
   color: #000;
   }

   .about-me-text{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   margin-bottom: 40px;
   width: 450px;
   }

.my-projects{
   margin-bottom: 50px;
}   

   .my-projects-list{
      padding: 0 0 0 17px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
   }
   .my-education-date{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 10px 0;
      color: #A8A8A8;
      padding-top: 15px;

   }
   .my-projects-text{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
   }
   .my-projects-text-list{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
      padding-left: 15px;
   }

   .my-project-link{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #595959; 
   }

   .my-project-brecket{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #000;
   }
   .my-project-selector{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000;
   }
   .projects-item{
      font-weight: bold;
      color: #000;
   }

.work-experience{
   margin-bottom: 43px;
}
   .work-experience-company{
      margin-bottom: 15px;
   }
   .work-experience-name{
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin: 0 0 10px 0;
      padding-bottom: 5px;
   }
   .work-experience-work{
      color: #FB6D3A;
   }

   .work-experience-date{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 10px 0;
      color: #A8A8A8;
   }

.my-education-text{
   padding: 0 0 0 0;
}

/* sidebar section */

.side-bar-section{
   background: #1E2939;
   width: 370px;
   padding: 40px 0;
}
.side-bar-title{
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   color: #FFFFFF;
   margin-bottom: 10px;
}
.contact-section{
   margin: 50px 0 0 40px;
}

/* contact section */

.contact-section-title{
   font-weight: bold;
   font-size: 14px;
   line-height: 24px;
   color: #FFFFFF;
   margin-right: 8px;
}
.contact-section-link{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #e9edf3;
}

/* tech skills section */

.tech-skills{
   margin: 50px 0 0 0;
}
.tech-skills-list{
   padding: 0 0 0 18px;
}
.tech-skills-item{
   color: #FB6D3A;
}
.tech-skills-item-text{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #FFFFFF;
}

/* soft skills section */

.soft-skill-section{
   margin: 50px 0 0 0;
}
.soft-skills-list{
   padding: 0 0 0 18px;
}
.soft-skills-item{
   color: #FB6D3A;
}
.soft-skills-item-text{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #FFFFFF;
}